<mat-card>
  <h1>{{formType}}</h1>
  <form #studentForm="ngForm">
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Math average grade</mat-label>
            <input matInput 
              [(ngModel)] = "averageMath"
              name = "averageMath"
              required>
          </mat-form-field>
        </p> 
        <mat-error><p *ngIf = "isError">math grade must be between 0 to 100</p></mat-error>   
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Psychometric score</mat-label>
            <input matInput 
              [(ngModel)] = "psychoGrade" 
              name = "psychoGrade" 
              required>
          </mat-form-field>
        </p>
        <mat-error><p *ngIf = "isErrorsat"> sat grade must be between 0 to 800</p></mat-error>   
        <p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Completed tuition</mat-label>
              <select matNativeControl [disabled]="disableSelect.value"
              matInput 
                [(ngModel)] = "completeTuition"
                name = "completeTuition"
                required>
                <option value="" selected></option>
                <option value="true">Yes</option>
                <option value=false> No</option>
              </select>
            </mat-form-field> 
          </p>                                 
      <div >
          <button mat-raised-button color="primary" 
                  (click)= "updateParent()">
                   {{formType}}
          </button>     
      </div>
      <div></div>
      <p></p>
      <div>
        <button mat-raised-button color="primary">
         Predict
        </button>   
      </div>  
    </div>
  </form>
 </mat-card>




